* {
  font-family: 'Comic Neue', cursive;
}

@font-face {
  font-family: CalculatorFont;
  src: url('./fonts/digital-7.ttf');
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./img/numberpatterbackground.jpg');
  background-repeat: repeat;
  background-size: 450px;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.Calculator {
  width: 700px;
}

.calc-font {
  font-family: CalculatorFont, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.CalcDisplay {
  background-color: rgb(18, 17, 56);
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 20px;
  font-size: 50px;
}

.test {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  list-style: none;
  color: #fff;
  padding-top: 10px;
}
