body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.Calculator {
  width: 700px;
  margin: auto;
}

.bg-white {
  border: 1px solid #adadad;
  background-color: white;
}

.bg-orange {
  border: 1px solid #adadad;
  background-color: #f3ab4c;
}

.CalcDisplay {
  height: 90px;
}
